.addstock {
    &-btn {
        display: flex;
        position: absolute;
        z-index: 100;
        right: 4.75%;
        bottom: 3%;
        width: 9rem;
        padding: 0.3rem 0.7rem;
        border-radius: 0.65rem;
        background: var(--primary);
        box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
            rgb(0 0 0 / 30%) 0px 1px 3px -1px;

        & img {
            width: 2rem;
            margin: auto 0px auto auto;
            padding: 0.2rem;
        }

        & p {
            margin-right: auto;
            padding-left: 0.25rem;
            border: 0px;
            background: var(--primary);
            color: var(--white);
            font-size: 0.95rem;
            font-weight: 500;
            text-align: center;
        }

        &:hover {
            transform: scale(1.0025) !important;
            cursor: pointer;
        }

        &:active {
            transform: scale(1) !important;
            opacity: 0.9;
        }
    }
}

@media screen and (min-width: 640px) {
    .addstock {
        &-btn {
            right: 2.5%;
        }
    }
}
