{
    "tabWidth": 4,
    "singleQuote": false,
    "semi": false,
    "bracketSameLine": false,
    "arrowParens": "always",
    "importOrder": [
        "react",
        "react-router-dom",
        "axios",
        "^firebase/(.*)$",
        "^@context/(.*)$",
        "@components/(.*)$",
        "^@routes/(.*)$",
        "^@mui/(.*)$",
        "^~firebase",
        "^@pages/(.*)$",
        "^[../]",
        "^[./]"
    ],
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": true
}
