{
    "tabWidth": 4,
    "singleQuote": false,
    "semi": false,
    "bracketSameLine": false,
    "arrowParens": "always",
    "importOrder": [
        "react",
        "axios",
        "^firebase/(.*)$",
        "^./context/(.*)$",
        "^./components/(.*)$",
        "^./pages/(.*)$",
        "^./routes/(.*)$",
        "^@mui/(.*)$",
        "^./firebase",
        "^[../]",
        "^[./]"
    ],
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": true
}
