.profile {
    height: calc(100vh - 4rem);
    overflow-y: scroll;

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid var(--neutral-bg);
        background: var(--secondary-v2);
        align-items: center;
        padding: 2.5rem 1rem;
        margin: 1rem;

        &-img {
            display: flex;
            height: 7.5rem;
            width: 7.5rem;
            border-radius: 50%;
            overflow: hidden;
            padding: 1rem;
            background: var(--secondary);

            & img {
                height: 100%;
                width: 100%;
            }
        }

        & h3 {
            margin-top: 1rem;
        }

        & p {
            opacity: 0.8;
            padding: 0.25rem 0px;
        }
    }

    &__settings {
        margin: 1rem;
    }
}

.usersettings-btn {
    padding: 0.5rem 1rem;
    border: 1px solid var(--neutral-hover);
    margin-bottom: -1px;
    display: block;

    &-disable {
        &:hover {
            background: var(--white) !important;
            cursor: default !important;
        }

        &:active {
            opacity: 1 !important;
            transform: scale(1) !important;
        }
    }

    &:hover {
        background: var(--neutral-bg);
        cursor: pointer;
    }

    &:active {
        opacity: 0.8;
        transform: scale(0.99);
    }
}

.usersettings-logout p {
    color: var(--err);
    font-weight: 600;
}

.version {
    &-title {
        padding: 0.2rem 0px 0.2rem 0px;
    }

    &-v {
        padding: 0px 0px 0.2rem 0px;
        font-size: 0.8rem;
        opacity: 0.8;
    }
}

@media (min-width: 640px) {
    .profile {
        width: 55%;
        margin: auto;
    }
}
