.profileupdate {
    height: calc(100vh - 4rem);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin: 1rem;

    &__form {
        background: var(--neutral-bg-light);
    }
}

@media (min-width: 700px) {
    .profileupdate {
        &__form {
            width: 100%;
            padding: 2rem 32vw;
        }
    }
}
