.profileupdate {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4rem);
    margin: 1rem;
    overflow-y: auto;

    &__form {
        background: var(--neutral-bg-light);
    }
}

@media (min-width: 640px) {
    .profileupdate {
        width: 55%;
        margin-right: auto;
        margin-left: auto;
    }
}
