.home {
    height: calc(100vh - 4.75rem);
}

.stocks {
    width: 100vw;
    height: 100%;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--neutral-bg-light);
}

.stock {
    display: flex;
    margin-bottom: -1px;
    padding: 1rem 1.25rem;
    border: 1px solid var(--neutral-hover);
    background-color: var(--white);

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;

        & p {
            padding: 0px;
        }
    }

    &__symbol {
        font-weight: 700;
        text-transform: uppercase;
    }

    &__price {
        margin-left: auto;

        & p {
            font-size: 0.95rem;
            text-align: end;
        }

        &-inst {
            padding: 0.1rem 0px;
        }

        &-grow {
            width: min-content;
            margin-left: auto;
            border-radius: 0.2rem;
            background-color: var(--text);
            color: var(--white);
            font-size: 0.85rem !important;
            padding: 0.2rem 0.5rem;
            margin-top: 0.25rem;
        }
    }
}
