.search {
  display: flex;
  flex-direction: column;

  &__results {
    background-color: var(--neutral-bg);
    height: calc(100vh - 5rem);
    overflow-y: scroll;
    padding: 1rem;
  }

  & p {
    padding: 0.25rem 0px;
  }

  &__result {
    box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
    background-color: var(--white);
    display: flex;
    padding: 1rem;
  }
}

.navigation__back {
  margin: auto 0.5rem auto 0.25rem;
  display: flex;

  & img {
    background-color: var(--neutral-bg);
    border-radius: 50%;
    display: flex;
    width: 2.75rem;
    height: 2.75rem;
    padding: 0.5rem;
    margin: auto;
  }
}

.searchbar {
  background: var(--neutral);
  color: var(--text);
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 0.1rem;
  overflow: hidden;
  font-size: 1rem;
  border: 0px;
  width: 100%;

  &__btn {
    border-radius: 0.1rem;
    background: var(--text);
    padding: 0.5rem;
    border: 0px;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  &__header {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    position: sticky;
    display: flex;
    z-index: 99;
    height: 5rem;
  }

  &__holder {
    margin: auto 1rem;
    overflow: hidden;
    display: flex;
    width: 100vw;
  }

  & img {
    width: 1.75rem;
    height: 1.75rem;
  }

  & input {
    background: var(--neutral);
    color: var(--text);
    padding-left: 1rem;
    font-size: 1rem;
    width: 100%;
    border: 0px;

    &:hover {
      background: var(--neutral-hover);
    }
  }
}
