.app {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.btn {
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    & img:hover {
        background-color: var(--neutral-hover);
    }

    &:active {
        transform: scale(1);
        opacity: 0.9;
        border-radius: 50%;
    }
}
