.app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
}

.btn {
    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    & img:hover {
        background-color: var(--neutral-hover);
    }

    &:active {
        transform: scale(1);
        border-radius: 50%;
        opacity: 0.9;
    }
}
