@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --primary: #4845d2;
    --secondary: #a3a2ff;
    --secondary-v2: #fffaf0;
    --neutral: #eeeeee;
    --neutral-bg: #f4f4f4;
    --neutral-hover: #e7e7e7;
    --neutral-hover-v2: #e4e4e4;
    --neutral-bg-light: #f9f9f9;
    --err: #ef4444;
    --opt: #3b82f6;
    --success: #34d399;
    --text: #222222;
    --white: #ffffff;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    font-family: "Inter", sans-serif !important;
}

*,
*::after,
*::before {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.25s ease-in-out, border-radius 0s linear;
    opacity: 1;
    font-family: "Inter", sans-serif !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    -webkit-tap-highlight-color: #6bb8ff41;
}

*:focus {
    outline: 0px;
}

h1,
h2,
h3,
h4,
p,
a {
    margin: 0;
    padding: 0;
    color: var(--text);
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    padding: 0.5rem 0rem;
    font-size: 2rem;
    font-weight: 500;
}

h3 {
    font-size: 1.75rem;
    font-weight: 500;
}

h4 {
    font-size: 1.2rem;
}

p {
    padding: 0.5rem 0rem;
    font-size: 1rem;
    font-weight: 400;
}

a {
    font-weight: 500;
}

button {
    cursor: pointer;
}

.menu {
    &:hover {
        background-color: var(--neutral-bg);
        cursor: pointer;
    }

    &:active {
        opacity: 0.9;
        background-color: #f0f0f0;
    }
}
